Repository Bromles/spbstu-trkpo, pull requests merged in 2023-12, with the labels that each got.

#12 Draft: create ui components
  frontend/index.html
  frontend/public/icon.svg
  frontend/src/App.module.css
  frontend/src/App.tsx
  frontend/src/components/HospitalMap/HospitalMap.css
  frontend/src/components/HospitalMap/HospitalMap.module.css
  frontend/src/components/HospitalMap/HospitalMap.tsx
  frontend/src/components/Navbar/Navbar.module.css
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/index.css
  frontend/src/pages/Home/Home.module.css
  frontend/src/pages/Home/Home.tsx
  frontend/src/utils/Providers.tsx
Labels: frontend

#61 add email for client
  backend/src/main/java/trkpo/spbstu/hospitalavailability/controller/ClientController.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/dto/ClientRequestDto.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/entity/Client.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/service/ClientService.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/service/TrackingService.java
Labels: backend

#57 map markers and refactoring
  backend/src/main/java/trkpo/spbstu/hospitalavailability/dto/ClientRequestDto.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/entity/Client.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/service/ClientService.java
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AuthGuard/AuthGuard.tsx
  frontend/src/components/HospitalMap/HospitalMap.css
  frontend/src/components/HospitalMap/HospitalMap.module.css
  frontend/src/components/HospitalMap/HospitalMap.tsx
  frontend/src/components/HospitalMap/HospitalMapStore.ts
  frontend/src/components/Navbar/Navbar.module.css
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/NavigationLoading/NavigationLoading.tsx
  frontend/src/components/Selection/DirectionSelection.tsx
  frontend/src/components/Selection/DistrictDelection.tsx
  frontend/src/components/Selection/DistrictSelection.tsx
  frontend/src/components/Selection/DoctorSelection.tsx
  frontend/src/components/Selection/HospitalSelection.tsx
  frontend/src/components/Selection/SelectionApi.ts
  frontend/src/components/StoreProvider/StoreProvider.tsx
  frontend/src/components/Tracking/Tracking.module.css
  frontend/src/components/Tracking/Tracking.tsx
  frontend/src/components/Tracking/TrackingApi.ts
  frontend/src/index.css
  frontend/src/pages/ErrorPage/ErrorPage.tsx
  frontend/src/pages/Home/Home.module.css
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/HomeApi.ts
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/UnauthHome/UnauthHome.tsx
  frontend/src/stores/GlobalStore.ts
  frontend/src/stores/SelectionStore.ts
  frontend/src/utils/Providers.tsx
  frontend/src/utils/apiUtils.ts
  frontend/src/utils/hooks.tsx
  frontend/src/utils/oidcConfig.ts
  frontend/src/utils/types.ts
  frontend/vite.config.ts
Labels: help wanted, frontend

#66 Fix/auth url frontend
  backend/src/main/java/trkpo/spbstu/hospitalavailability/controller/ClientController.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/controller/GorzdravController.java
  backend/src/main/java/trkpo/spbstu/hospitalavailability/controller/TrackingController.java
  frontend/.env.development
  frontend/.env.production
  frontend/Dockerfile
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/utils/apiUtils.ts
  frontend/src/utils/oidcConfig.ts
Labels: frontend
